version: '3.8'

services:
  app:
    build:
      context: ./producto3
    container_name: laravel_app
    ports:
      - "8000:80"
    volumes:
      - ./producto3:/var/www/html
    working_dir: /var/www/html
    depends_on:
      - mysql
    command: bash -c "docker-php-ext-install pdo pdo_mysql && apache2-foreground"

  composer:
    image: composer:latest
    container_name: composer_runner
    volumes:
      - ./producto3:/app
    working_dir: /app

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: UOC_transfers
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    restart: always
    ports:
      - "8080:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: root

volumes:
  mysql_data:
